@font-face {
  font-family: 'BBC Reith Sans Bold';
  src:
    url('https://dperika.github.io/bbcfonts/bbcsans/BBCReithSansCd_A_Bd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

