@font-face {
  font-family: 'BBCReithSans';
  src:
    url('https://dperika.github.io/bbcfonts/bbcsans/BBCReithSans_A_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

